<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="patientform">
      <h2 data-cy="patientformDetailsHeading"><span>Patientform</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ patientform.id }}</span>
        </dd>
        <dt><span>Pathologie</span></dt>
        <dd>
          <span>{{ patientform.pathologie }}</span>
        </dd>
        <dt><span>Typeobservation</span></dt>
        <dd>
          <span>{{ patientform.typeobservation }}</span>
        </dd>
        <dt><span>Casfamiliaux</span></dt>
        <dd>
          <span>{{ patientform.casfamiliaux }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>
    </div>
  </div>
</div>
